<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 //EN">
!!!
%html
  %head
    %title ReferredIn
    = stylesheet_link_tag    "application", media: "all"

  %body
    %p.notice
      = notice
    %p.alert
      = alert

    = yield

    = javascript_include_tag "application"

    = yield :footer_scripts
